version: "1"

services:
    backend:
        container_name: backend
        restart: always
        build:
            context: .
            dockerfile: Dockerfile
        ports:
            - "8000:8000"
        env_file:
            - .env
        depends_on:
            - mariadb

    mariadb:
        image: mariadb:10.6
        container_name: mariadb
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: rootpassword
            MYSQL_DATABASE: laravel_db
            MYSQL_USER: laravel_user
            MYSQL_PASSWORD: laravel_password
        ports:
            - "3306:3306"
        volumes:
            - mariadb_data:/var/lib/mysql

networks:
    default:
        name: webproxy
        external: true

volumes:
    mariadb_data:

