@font-face {
    font-family: 'Helvetica';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('Helvetica.woff?v=3.18') format('woff');
  }

  @font-face {
    font-family: 'Helvetica';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('Helvetica.woff?v=3.18') format('woff');
  }